<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Préambule</h2>
                    <h3 class="section-subheading text-muted">Pour le groupement, Raphaël Ménard et Julien Dossier</h3>
                </div>
            </div>
            <div class="row">
                <p class="text-muted">Ce document est une contribution du groupement Elioth (mandataire associant Quattrolibri, Mana et Egis Conseil) à l’élaboration de la stratégie de la Ville de Paris pour atteindre la neutralité carbone en 2050. <b>Cette étude est une contribution au débat</b> : les mesures indiquées sont proposées à titre purement indicatif et n’engagent que les membres du groupement. Les actions et stratégies décrites correspondent à un corpus, un bouquet d’actions permettant de décrire « une » stratégie de neutralité carbone : l’action politique et des citoyens en promettent assurément bien d’autres.
</p></br><p class="text-muted">
Avec humilité, nous livrons ici non pas une bible mais une caverne d’ali-baba : une source foisonnante d’opportunités, de défis, de questionnements, d’innovations, de trajectoires, d’idées, de récits.
</p></br><p class="text-muted">
L’ampleur de la tâche explique le nombre de pages de ce document : nous avons exploré les ramifications de l’objectif de neutralité carbone sur 34 ans, dans tous les domaines de l’activité humaine, logement, transports, énergie bien sûr, mais aussi déchets, alimentation, culture et loisirs, modèles économiques, systèmes agronomiques et de biodiversité.
</p></br><p class="text-muted">
<b>La nature des chantiers abordés dans ce document dépasse ainsi de loin les domaines de compétences de la seule Mairie de Paris</b> : les questions d’alimentation posent par exemple des défis d’aménagement du territoire et de reconversion d’exploitations agricoles bien au-delà du cadastre parisien, dans des juridictions ou modèles d’entreprises sur lesquelles la Mairie n’a pas autorité. C’est tout le défi de la mobilisation autour de l’objectif de neutralité. Si c’est à Paris intra-muros que se rattachent les différents postes d’émissions agrégés dans nos calculs, les solutions à mobiliser ont des ramifications bien plus larges.
</p></br><p class="text-muted">
Cette stratégie de neutralité carbone a demandé un travail technique et scientifique pointu pour objectiver tant les trajectoires d’atténuation par enjeux, que pour la modélisation des évolutions de la compensation et de la séquestration des émissions résiduelles. Cette version du rapport explicite peu le très important travail de modélisation et de simulation des trajectoires, élaborées sous le logiciel «R».
</p></br><p class="text-muted">
Les résultats de sortie du modèle sont disponibles au format numérique. Nous sommes persuadés que notre modèle sera un instrument très utile pour tester d’autres scénarios, estimer davantage la sensibilité de différents paramètres et de fournir aussi un modèle de simulation au long cours dans les prochaines années.
</p></br></br><p class="text-muted">


<b>Le document décline le récit sous plusieurs formes thématiques - sociologique, chronologique et politique puis experte dans la note méthodologique :</b>
</p></br><p class="text-muted">
• La section 1 (le défi) et la section 2 (la vision de Paris en 2050) s’adressent en particulier aux spécialistes de l’action territoriale : élus, techniciens, prospectivistes, spécialistes de la politique climatique ou principaux délégataires de services publics (eau, électricité, transports...) ;
</p></br><p class="text-muted">
• Le récit thématique de la section 3 (le grand récit de la neutralité carbone, 3.1) s’adresse aux professionnels des différentes thématiques abordées, ainsi qu’aux experts, conseils et urbanistes ;
</p></br><p class="text-muted">
• Les récits sociologiques (3.2) s’adressent à tout lecteur :
</p><p class="text-muted">
dans cette section, vous vous reconnaîtrez sans doute dans l’un des 18 personnages proposés ; vous pourrez ensuite vous référer au récit des mesures thématiques pour préciser telle ou telle étape du récit ;
</p></br><p class="text-muted">
• La conclusion s’ouvre à tout lecteur et pose, en forme d’ouverture, les jalons d’une mobilisation de grande ampleur pour mettre en œuvre les mesures clés de la transition.
</p></br><p class="text-muted">
Notre conclusion est univoque : <b>la perspective d’atteindre la neutralité carbone est à notre portée</b>. Cette perspective justifie toute l’énergie, la vitalité de nos recommandations, mais aussi la radicalité de certaines d’entre elles. Nous soulignons, à travers le récit des familles, l’immense diversité des trajectoires individuelles qui, cumulées, façonneront les émissions des Parisiens. Ce document est une invitation à en tirer de nombreux « produits dérivés » : une saga télévisée, un simulateur numérique, des pièces de théâtre, des fonds d’investissement, des conférences politiques, des concertations de quartier.</p>
                         </div>
        </div>
    </section>