<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Downloads</h2>
                    <h3 class="section-subheading text-muted">Continue reading</h3>
                </div>
            </div>
			<div class="row text-center">
				<div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" ><i class="fa fa-list fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" >in progress</h4></a>
                    <p class="text-muted">in progress</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" ><i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" >Comprehensive report</a></h4>
                    <p class="text-muted">21Mo / 300 pages</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" ><i class="fa fa-filter fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170615 - Paris Carbone Neutral - report_LD.pdf" target="_blank" >in progress</a></h4>
                    <p class="text-muted">in progress</p>
                </div>
            </div>
        </div>
    </section>