<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Téléchargement</h2>
                    <h3 class="section-subheading text-muted">Poursuivre la lecture</h3>
                </div>
            </div>
			<div class="row text-center">
                <div class="col">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170530 - Paris Neutre Carbone - Articles_de_presse.pdf" target="_blank" ><i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170530 - Paris Neutre Carbone - Articles_de_presse.pdf" target="_blank" >Presse</h4></a>
                    <p class="text-muted">Extraits d'articles de presse</p>
                </div>
				<div class="col">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Verbatims.pdf" target="_blank" ><i class="fa fa-list fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Verbatims.pdf" target="_blank" >Verbatims</h4></a>
                    <p class="text-muted">Des textes d'experts</p>
                </div>
                <div class="col">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Rapport Complet_LD.pdf" target="_blank" ><i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Rapport Complet_LD.pdf" target="_blank" >Etude complète</a></h4>
                    <p class="text-muted">23Mo / 400 pages</p>
                </div>
                <div class="col">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Conclusions.pdf" target="_blank" ><i class="fa fa-filter fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Conclusions.pdf" target="_blank" >Conclusions</a></h4>
                    <p class="text-muted">Les conclusions de l'étude</p>
                </div>
            </div>
        </div>
    </section>