<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Téléchargement</h2>
                    <h3 class="section-subheading text-muted">Poursuivre la lecture</h3>
                </div>
            </div>
			<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Verbatims.pdf"><i class="fa fa-list fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Verbatims.pdf">Verbatims</h4></a>
                    <p class="text-muted">Des textes d'experts</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Rapport Complet_LD.pdf"><i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Rapport Complet_LD.pdf">Etude complète</a></h4>
                    <p class="text-muted">23Mo / 400 pages</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="pdf/170306 - Paris Neutre Carbone - Conclusions.pdf"><i class="fa fa-filter fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading"><a href="pdf/170306 - Paris Neutre Carbone - Conclusions.pdf">Conclusions</a></h4>
                    <p class="text-muted">Les conclusions de l'étude</p>
                </div>
            </div>
        </div>
    </section>